@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/weatherBackground.jpg);
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#timezone{
    display: flex;
    flex-direction: column;
}
.timp{
    text-align: center;
}
select{
    background-color: rgb(69, 69, 153);
    color: white;
    font-size: 20px;
}
#current{
    text-align: center;
}
#timezone img{
    width: 20%;
}
#current h1{
    font-size: 47px;
}
 h2{
    margin-top: 1vh;
    font-size: 30px;
}
#current p{
    font-size: 25px;
}
#hourly{
    display: flex;
    border: 1px solid #76a1a1;
    border-radius: 16px;
    padding-left: 15px;
    margin-top: 2vh;
    overflow: scroll;
    margin-left: 2%;
}
.hour{
    margin-top: 2vh;
}
#daily{
    border: 1px solid #76a1a1;
    border-radius: 20px;
    margin-top: 3vh;
}
.dailychat{
    display: flex;
    align-items: center;
    justify-content: space-evenly   ;
    margin-top: 2vh;
}
.dailychat img{
    width: 10%;
    margin-top: -25px;
}
.dailychat p {
    width: 20%;
}
.dailychat h3{
    color: rgb(173, 171, 171);
}
#max{
    color: white;
}
.hour{
    text-align: center;
}
.max-min{
    display: flex;
    justify-content: space-evenly;
}   

@media (max-width: 576px) {
    .dailychat p{
        width: 20%;
    }
    .dailychat img{
    width: 100px; 
    }
}